.each-fade {
    display: flex;
    width: 100%;
    padding: 100px 0 0;
  }
  
  .each-fade > div {
      /* padding: 100px 0 0; */
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .each-fade > div img {
    width: 50%;
    height:40vh;
    object-fit: contain;
  }
  
  .each-fade p {
    width: 50%;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  ul  li{
      padding: 7px  0;
  }

  @media  (max-width: 600px) {
    .each-fade p{
        display: none;
    }  

  .each-fade > div img {
      width: 100%;
  }
  .each-fade > div {
      width: 100%;
  }
  }

  .Slider div{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .Slider img{
object-fit: contain;
height: 250px;
margin: auto;
width: 100%;
  }
  .slick-prev:before {
  
    color: #1976d2;
    font-size: 30px;
  }
  
  .slick-next:before {
  
    color: #1976d2;
    font-size: 30px;
  }